mixin card(product)
        div(class="catalogCard")
            div(id="catalogImg")
                img(src="/" + product.fileUrl, alt="catalogeImg")
            div(id="catalogId")
                span #{product.title}
            div(id="catalogTxt")
                span #{product.part} &#47;
                span #{product.material}
                br
                span 기본공임 &#47;
                span 스톤공임
                br
                span #{product.goldWeight} &#47;
                span 스톤중량
            div(class="clickBox")
                div(class="clickbxbx")
                    input(name="click", value=`${product._id}`  , class="clickThis", type="checkbox")
                a(class="rmvBtn", href=`/cataloge/edit/${product._id}`) 
                    span 조회 / 수정