mixin card(product)
        img(src="/" + product.fileUrl, alt="catalogeImg", width="100", height="100")
        div     
                h4
                    a(href=`/cataloge/edit/${product.id}`)=product.title 
                ul 
                    li #{product.gender}
                    li #{product.modelNumber}
                    li #{product.manufacturer}
                    li #{product.id}
        div(class="catalogCard")
            div(id="catalogImg")
                img(src="/" + product.fileUrl, alt="catalogeImg")
            div(id="catalogId")
                span #{product.title}
            div(id="catalogTxt")
                span #{product.part} &#47;
                span #{product.material}
                br
                span 기본공임 &#47;
                span 스톤공임
                br
                span #{product.goldWeight} &#47;
                span 스톤중량
            div(class="clickBox")
                form(class="clickbxbx", name="clickbxbx")
                    input(name="clickThis", class="clickThis", type="checkbox")
                button(class="rmvBtn")
