mixin orderMainTable(order)
        tr.orderTr 
            td(style="background-color: #dbb3ff; color: steelblue;").orderNum
            td 
                input(name="clickThis" class="checkedThis" type="checkbox" value=`${order._id}`) 
            td.orderTd 출 <span class="releasedate"> #{order.releasedate} </span> <br> 접 <span class="registrationdate"> #{order.registrationdate}</span>
            td #{order.account} <br> #{order.orderNumber}
            td(class="clickImg") 
                img(src="/" + order.fileUrl, alt="productImg")
            td #{order.modelNumber}
            td #{order.material} <br> #{order.color}
            td #{order.stone.stoneName} <br>  #{order.stone2.stoneName2} 
            td #{order.size}
            td #{order.quantity} <br> <div class="orderStocks"> #{order.stocks.length}</div>
            td #{order.description}
            td #{order.manufacturer}
            td #{order.gubun}