mixin rentUploadTable(product)
        tbody
           tr
               td
                   button(class="trsBTN") 
               td
                   div(class="sechBox2") 
                       input(type="text") 
                       button(class="secbtn") 
               td
                   div(class="sechBox2") 
                       input(type="text", value=`${product.modelNumber}`) 
                       button(class="secbtn") 
               td
                   select(name="JAJIL" class="downSelectBox" id="JAJIL") 
                       option(value="") 
                       option(value="10K") 10K
                       option(value="14K") 14K
                       option(value="18K") 18K
                       option(value="22K") 22K
                       option(value="순금-995") 순금-995
                       option(value="순금-999") 순금-999
                       option(value="실버") 실버
                       option(value="PT") PT
                       option(value="기타") 기타
               td
                   select(name="SAGSANG" class="downSelectBox" id="SAGSANG") 
                       option(value="") 
                       option(value="G") G
                       option(value="G/B") G/B
                       option(value="G/P") G/P
                       option(value="G/R/W") G/R/W
                       option(value="G/W") G/W
                       option(value="P") P
                       option(value="P/W") P/W
                       option(value="P/블랙도금") P/블랙도금
                       option(value="W") W
                       option(value="W/B") W/B
                       option(value="W/G") W/G
                       option(value="W/P") W/P
                       option(value="블랙") 블랙
               td
                   select(name="DANGASANGPUM" class="downSelectBox" id="DANGASANGPUM") 
                       option(value="N") N
                       option(value="Y") Y
               td
                    if !product.basicWage
                        div(class="sechBox2")
                            input(type="number" value=`0`) 
                    else
                        div(class="sechBox2")
                            input(type="number" value=`${product.basicWage}`) 
               td
                    if !product.additionWage
                        div(class="sechBox2")
                            input(type="number" value=`0`) 
                    else
                        div(class="sechBox2")
                            input(type="number" value=`${product.additionWage}`) 
               td
                    if !product.stoneWage1 
                        div(class="sechBox2")
                            input(type="number" value=`0`) 
                    else
                        div(class="sechBox2")
                            input(type="number" value=`${product.stoneWage1}`) 
               td
                    if !product.stoneWage2 
                        div(class="sechBox2")
                            input(type="number" value=`0`) 
                    else
                        div(class="sechBox2")
                            input(type="number" value=`${product.stoneWage2}`) 
               td
                    if product.stone
                        div(class="sechBox2")
                            input(type="number" value=`${product.stone.stoneWeight2*product.stone.stoneQuantity}`)
                    else 
                        div(class="sechBox2")
                            input(type="number") 
               td
                   div(class="sechBox2") 
                       input(type="text") 
               td
                   div(class="sechBox2") 
                       input(type="text" disabled)
               td
                   div(class="sechBox2") 
                       input(type="text" disabled)
               td
                   div(class="sechBox2") 
                       input(type="text" disabled)
               td
                   div(class="sechBox2") 
                        if !product.stone
                            input(type="text")
                        else
                            input(type="text" value=`${product.stone.stoneName}`) 
               -let stone22 = [];
               -for(let i=0; i<product.stone2.length; i++){stone22.push(product.stone2[i].stoneName2)}
                    -console.log(stone22)
                    td
                       div(class="sechBox2")
                            input(type="text" value=`${stone22}`) 
               td
                   div(class="sechBox2") 
                        if !product.size
                            input(type="text")
                        else
                            input(type="text" value=`${product.size}`) 
               td
                   div(class="sechBox2") 
                       input(type="text" value=`${product.description}`) 
               td
                   div(class="sechBox2") 
                       input(type="number" value="1") 
               td
                   div(class="sechBox2") 
                        if !product.stone
                            input(type="number" value="0") 
                        else
                            input(type="number" value=`${product.stone.stoneQuantity}`) 
               td
                   div(class="sechBox2") 
                        -let add = [];
                        -for(let i=0; i<product.stone2.length; i++) {add.push(product.stone2[i].stoneQuantity2)}
                        -let sum = 0;
                        -add.forEach((i)=>{sum+=i;})
                        input(type="number" value=`${sum}`) 
               td
                   div(class="sechBox2") 
                       input(type="text" disabled)