mixin repairMainTable(repair)
        tr.repairTr 
            td(style="background-color: #dbb3ff; color: steelblue;").repairNum
            td 
                input(name="clickThis" id="checkedThis" type="checkbox" value=`${repair._id}`)
            td.repairTd 출 <span class="releasedate"> #{repair.releasedate} </span> <br> 접 <span class="registrationdate"> #{repair.registrationdate} </span>
            td #{repair.account} <br> #{repair.repairNumber}
            td(class="clickImg")
                img(src="/"+repair.fileUrl, alt="productImg")
            td #{repair.modelNumber}
            td #{repair.material} <br> #{repair.color}
            td #{repair.stone.stoneName} <br>  #{repair.stone2.stoneName2} 
            td #{repair.size}
            td #{repair.quantity} <br> <div class="repairStocks"> #{repair.stocks.length}</div>
            td #{repair.description}
            td #{repair.manufacturer}
            td #{repair.gubun}