mixin stockClienTtable(clients)
        tr 
            td #{clients.length}
            td 
                a(href="#")  선택
            td #{clients.clientType}
            td #{clients.clientName}
            td.clientsName #{clients.buisnessman.buisnessName}
            td #{clients.buisnessman.representative}
            td #{clients.buisnessman.representativeNumber}
            td #{clients.contact.phone}
            td #{clients.contact.fax}
            td #{clients.commonName}
            td #{clients.description}
            td #{clients.option.vat}
            td #{clients.option.transactionType}
            td #{clients.option.harry}