mixin stockUploadTable(product)
            tbody
                tr
                    td
                        button(class="trsBTN")
                    td
                        input(type="text") 
                        button(class="secbtn")
                    td
                        input(type="text" value=`${product.modelNumber}`) 
                        button(class="secbtn")
                    td
                        input(type="text" value=`${product.manufacturer}`)
                        button(class="secbtn")
                    td
                        select(name="gramBox" class="selBoxStock" id="gramBox")
                            option(value="")
                            option(value="10K") 10K
                            option(value="14K") 14K
                            option(value="18K") 18K
                            option(value="22K") 22K
                            option(value="순금-995") 순금-995
                            option(value="순금-999") 순금-999
                            option(value="실버") 실버
                            option(value="PT") PT
                            option(value="기타") 기타
                    td
                        select(name="color" class="selBoxStock" id="color")
                            option(value="")
                            option(value="G") G
                            option(value="G/B") G/B
                            option(value="G/P") G/P
                            option(value="G/R/W") G/R/W
                            option(value="G/W") G/W
                            option(value="P") P
                            option(value="P/W") P/W
                            option(value="P/블랙도금") P/블랙도금
                            option(value="W") W
                            option(value="W/B") W/B
                            option(value="W/G") W/G
                            option(value="W/P") W/P
                            option(value="블랙") 블랙
                    td  
                        input(type="number" value="1")
                    td  
                        if !product.basicWage
                            input(type="number" value="0")
                        else
                            input(type="number" value=`${product.basicWage}`)
                    td  
                        if !product.additionWage
                            input(type="number" value="0")
                        else
                            input(type="number" value=`${product.additionWage}`)
                    td  
                        if !product.stoneWage1
                            input(type="number" value="0")
                        else
                            input(type="number" value=`${product.stoneWage1}`)
                    td  
                        if !product.stoneWage2
                            input(type="number" value="0")
                        else
                            input(type="number" value=`${product.stoneWage2}`)
                    td
                        if product.stone
                            input(type="number" value=`${product.stone.stoneWeight2*product.stone.stoneQuantity}`)
                        else 
                            input(type="number") 
                    td
                        input(type="text")
                    td
                        input(type="text" disabled)
                    td
                        input(type="text" disabled)
                    td
                        select(name="MAIPHARI" class="selBoxStock" id="MAIPHARI")
                            option(value="1.10") 1.10
                            option(value="1.09") 1.09
                            option(value="1.07") 1.07
                            option(value="1.06") 1.06
                            option(value="1.00") 1.00
                    td
                        if !product.stone
                            input(type="number" value="0") 
                        else
                            input(type="number" value=`${product.stone.stoneQuantity}`) 
                    td
                        -let add = [];
                        -for(let i=0; i<product.stone2.length; i++) {add.push(product.stone2[i].stoneQuantity2)}
                        -let sum = 0;
                        -add.forEach((i)=>{sum+=i;})
                        input(type="number" value=`${sum}`) 
                    td
                        select(name="MAIPHARI" class="selBoxStock" id="MAIPHARI")
                            option(value="N") N
                            option(value="Y") Y
                    td
                        if !product.stone
                            input(type="text")
                        else
                            input(type="text" value=`${product.stone.stoneName}`) 
                    td
                        -let stone22 = [];
                        -for(let i=0; i<product.stone2.length; i++){stone22.push(product.stone2[i].stoneName2)}
                            input(type="text" value=`${stone22}`)
                    td
                        input(type="text" value=`${product.size}`)
                    td
                        input(type="text" value=`${product.description}`)
                    td  
                        if !product.purchaseWage
                            input(type="number")
                        else    
                            input(type="number" value=`${product.purchaseWage}`)
                    td  
                        if !product.eggPurchasePrice
                            input(type="number")
                        else
                            input(type="number" value=`${product.eggPurchasePrice}`)