mixin stoneTable(stone)
        tbody 
            tr 
                td
                    input(name="clickStone" id="chckchck" type="checkbox")
                td 1
                td #{stone.name}
                td #{stone.weight}
                td #{stone.purchasePrice}
                td #{stone.sellingPrice}
                td #{stone.description}