mixin table(product)
            tbody 
                tr 
                    td(rowspan="2")
                        input(name="click" class="clickThis" type="checkbox",  value=`${product._id}`)
                    td(rowspan="2" width="15%")
                        div(class="model")
                            img(src="/" + product.fileUrl, alt="catalogeImg")
                        div(class="mdName")
                            span=product.title
                    td(rowspan="2", width="15%")
                        span 함량
                    td(width="7%")
                        span #{product.goldWeight}
                    td(width="5%")
                        span #{product.stone.stoneQuantity}
                    td
                        span #{product.basicWage}
                    td
                        span #{product.stoneWage1}
                    td(rowspan="2")
                        span 수량
                    td(rowspan="2")
                        span #{product.basicWage + product.stoneWage1 + product.additionWage + product.stoneWage2}
                    td(rowspan="2")
                        span 금값
                    td(rowspan="2")
                        span 소계
                tr  
                    if !product.stoneWeight
                        td 0
                    else
                        td #{product.stoneWeight}
                    td #{product.stone2.stoneQuantity2}
                    td #{product.additionWage}
                    td #{product.stoneWage2}